<div class="row container">

  <div class="col-md-4">
    <post-intro entry="entry" ng-repeat="entry in entries" ng-click="showEntry(entry)" ng-class="{'bg-info': isActive(entry)}"/>
  </div>

  <div class="col-md-8">
    <h2>{{activeEntry.title}}</h2>
    <h3><i>{{activeEntry.author}}</i></h3>
    <div ng-bind-html="sanitize()"></div>
   
  </div>
</div>
